{{extend 'layout.html'}}
<h4>
    Cancel a Reservation
</h4>
{{=form}}
<br />
<br />
<h4>
    My reservations
</h4>
{{if len(grid)!=0:}}
<table class="table">
	<tr>
		<th>
			<h5>
				Borrowal Id
			</h5>
		</th>
		<th>
			<h5>
				Book Number
			</h5>
		</th>
		<th>
			<h5>
				Book Name
			</h5>
		</th>
		<th>
			<h5>
				Reserved Date
			</h5>
		</th>
		<th>
			<h5>
				Supposed Due Date
			</h5>
		</th>
	</tr>
	{{for row in grid:}}
	<tr>
		<td>
			{{=row.id}}
            </td>
			<td>
				{{=row.book_number}}
			</td>
			<td>
				{{=row.book_name}}
			</td>
			<td>
				{{=row.Date_of_Issue}}
			</td>
			<td>
				{{=row.Due_Date}}
			</td>
		</tr>
		{{pass}}
	</table>
	{{else:}}
	<h5>You have taken no books </h5>
	{{pass}}
